@import url('./__title/comments__title.css');
@import url('./__subtitle/comments__subtitle.css');
@import url('./__container/comments__container.css');

.comments {
    width: 82.2%;
    margin: 0 auto 79px;
}

@media screen and (max-width: 1280px) {
    .comments {
        width: 92.4%;
    }
}

@media screen and (max-width: 1024px) {
    .comments {
        width: 90.4%;
        margin: 0 auto 85px;
    }
}

@media screen and (max-width: 768px) {
    .comments {
        margin: 0 auto 52px;
    }
}

@media screen and (max-width: 375px) {
    .comments {
        margin: 0 auto 1px;
    }
}

@media screen and (max-width: 320px) {
    .comments {
        margin: 0 auto 17px;
    }
}
