.comments__subtitle {
    width: 61%;
    text-align: center;
    font-family: 'Inter-Regular';
    font-weight: 100;
    font-size: 24px;
    line-height: 34px;
    margin: 0 auto 64px;
}

@media screen and (max-width: 1024px) {
    .comments__subtitle {
        width: 69%;
    }
}

@media screen and (max-width: 768px) {
    .comments__subtitle {
        width: 92%;
        margin: 0 auto 63px;
    }
}

@media screen and (max-width: 375px) {
    .comments__subtitle {
        width: 95%;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        margin: 0 auto 45px;
    }
}

@media screen and (max-width: 320px) {
    .comments__subtitle {
        margin: 0 auto 36px;
    }
}

