@media screen and (max-width: 768px) {
    .container-places__paragraph-2.container-places__paragraph-2_k {
        padding: 5px 0px 0px 0px;
    }
}

@media screen and (max-width: 375px) {
    .container-places__paragraph-2.container-places__paragraph-2_k {
        width: 89%;
        margin: 6px 0 -25px 18px;
    }
}

@media screen and (max-width: 320px) {
    .container-places__paragraph-2.container-places__paragraph-2_k {
        width: 89%;
        margin: -3px 0 -17px 18px;
    }
}